.headerBlock{
    background-color: #222222;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer{
    color: seashell;
    border: 1px seashell solid;
    display: flex;

    width: 80%;
    justify-content: space-around;
}
.logoContainer{
    border: 1px seashell solid;
    background-color: seashell;

    width: 200px;
    display: flex;
    align-items: center;
}
.searchContainer{
    display: flex;
}