.headerBlock{
    background-color: #1f1f1f;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.logoContainer{
    border: seashell  1px solid;
    color: seashell;
    width: 40%;
    display: flex;
    align-items: center;
}
.searchContainer{
    display: flex;
    width: 50%;
}
input{
    width: 60%;
    height: 30px;
}
.error{
    border: 1px red solid;
}